<link rel="stylesheet" href="../../public/css/custom.css">
<aside class="sidebar static" id="left">
	<div class="widget">
		<h4 class="widget-title">Shortcuts</h4>
		<ul class="naves">
			<li>
				<i class="ti-clipboard"></i>
				<a href="/">Newfeeds</a>
			</li>
			<li>
				<i class="ti-user"></i>
				<a href="/friends">Friends</a>
				
			</li>

			<li>
				<i class="ti-comments-smiley"></i>
				<a href="/inbox">Inbox</a>
				
			</li>

			<li>
				<i class="ti-bell"></i>
				<a href="/notifications">Notifications <span class="badge" id="notifications-badge"></span></a>
			</li>
			<li>
				<i class="ti-files"></i>
				<a href="/createPage">Create Page</a>
			</li>
			<li>
				<i class="ti-magnet"></i>
				<a href="/createGroup">Create Group</a>
			</li>
			<li>
				<i class="fa fa-bar-chart-o"></i>
				<a href="/timeline">Your Posts</a>
			</li>
			<li>
				<i class="fa fa-plus" aria-hidden="true"></i>
				<a href="/friendSuggest">Explore people</a>
			</li>
			<li>
				<i class="ti-power-off"></i>
				<a href="/logout">Log out</a>
				
			</li>
		</ul>
	</div>
</aside>
<script>
	
</script>