<aside class="sidebar static">
    <div class="widget">
        <h4 class="widget-title">Recent Photos</h4>
        <ul class="recent-photos" id="recent-photos">
            <!-- <li>
                <a class="strip" href="../../public/resources/recent-11.jpg" title="" data-strip-group="mygroup"
                    data-strip-group-options="loop: false">
                    <img src="../../public/resources/recent-1.jpg" alt=""></a>
            </li>
            <li>
                <a class="strip" href="../../public/resources/recent-22.jpg" title="" data-strip-group="mygroup"
                    data-strip-group-options="loop: false">
                    <img src="../../public/resources/recent-2.jpg" alt=""></a>
            </li>
            <li>
                <a class="strip" href="images/resources/recent-33.jpg" title="" data-strip-group="mygroup"
                    data-strip-group-options="loop: false">
                    <img src="images/resources/recent-3.jpg" alt=""></a>
            </li>
            <li>
                <a class="strip" href="images/resources/recent-44.jpg" title="" data-strip-group="mygroup"
                    data-strip-group-options="loop: false">
                    <img src="images/resources/recent-4.jpg" alt=""></a>
            </li>
            <li>
                <a class="strip" href="images/resources/recent-55.jpg" title="" data-strip-group="mygroup"
                    data-strip-group-options="loop: false">
                    <img src="images/resources/recent-5.jpg" alt=""></a>
            </li>
            <li>
                <a class="strip" href="images/resources/recent-66.jpg" title="" data-strip-group="mygroup"
                    data-strip-group-options="loop: false">
                    <img src="images/resources/recent-6.jpg" alt=""></a>
            </li>
            <li>
                <a class="strip" href="images/resources/recent-77.jpg" title="" data-strip-group="mygroup"
                    data-strip-group-options="loop: false">
                    <img src="images/resources/recent-7.jpg" alt=""></a>
            </li>
            <li>
                <a class="strip" href="images/resources/recent-88.jpg" title="" data-strip-group="mygroup"
                    data-strip-group-options="loop: false">
                    <img src="images/resources/recent-8.jpg" alt=""></a>
            </li>
            <li>
                <a class="strip" href="images/resources/recent-99.jpg" title="" data-strip-group="mygroup"
                    data-strip-group-options="loop: false">
                    <img src="images/resources/recent-9.jpg" alt=""></a>
            </li> -->
        </ul>
    </div><!-- recent photos-->

</aside>