<aside class="sidebar static">
    <div class="widget">
        <h4 class="widget-title">Socials</h4>
        <ul class="socials">
            <li class="facebook">
                <a title="" href="#"><i class="fa fa-facebook"></i> <span>facebook</span> <ins>45 likes</ins></a>
            </li>
            <li class="twitter">
                <a title="" href="#"><i class="fa fa-twitter"></i> <span>twitter</span><ins>25 likes</ins></a>
            </li>
            <li class="google">
                <a title="" href="#"><i class="fa fa-google"></i> <span>google</span><ins>35 likes</ins></a>
            </li>
            <li class="faq" style="background: rgb(22, 165, 105);">
                <a title="" href="/faq"><i class="fa fa-question"></i> <span>FAQ</span><ins></ins></a>
            </li>
        </ul>
    </div>
</aside>