<%- include ("includes/header") %>

<style>
	
</style>


<section class="premium-section">
	<div class="gap gray-bg">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="row" id="page-contents">

						<div class="col-md-3">
							<%- include ("includes/left-sidebar") %>
						</div>

						<div class="col-md-6">

							<div class="central-meta">
								<div class="editing-interest">
									<h5 class="f-title"><i class="ti-bell"></i>All Groups</h5>
									<div class="notification-box">
										<ul id="all-groups"></ul>
										
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include ("includes/footer") %>